<footer class="footer">
  <div class="footer-block-1">
    <div class="footer-block-11">
      <a href="/" aria-label="Site logo" class="footer-main-logo">
        <img src="./img/main-logo-dark.svg" alt="Main logo" />
      </a>
      <div class="footer-socials">
        <a href="https://facebook.com" aria-label="Facebook link" target="_blank">
          <img src="./img/facebook-dark.svg" alt="Facebook" />
        </a>
        <a href="https://instagram.com" aria-label="Instagram link" target="_blank">
          <img src="./img/instagram-dark.svg" alt="Instagram" />
        </a>
        <a href="https://youtube.com" aria-label="Youtube link" target="_blank">
          <img src="./img/youtube-dark.svg" alt="Youtube" />
        </a>
      </div>
    </div>
    <div class="footer-block-12">
      <p class="footer-tagline">Transforming your body shape with us</p>
      <form aria-label="Newsletter form">
        <p>Subscribe and learn about new exercises!</p>
        <input type="email" name="Email" id="email" aria-label="Email field" placeholder="Email" required>
        <input type="submit" value="Send" id="submit" aria-label="Send button">
      </form>
    </div>
  </div>
  <div class="footer-block-2">
    <span>Your Energy. All rights reserved.</span>
    <div class="splitter">
      <a href="https://example.com">Privacy Policy</a>
      <span>/</span>
      <a href="https://example.com">Terms of Service</a>
    </div>
    <span>©2023</span>
  </div>
</footer>
