<section class="hero">
  <div>
    <div>
      <div>
        <h1><img src="./img/sun.svg" alt="Main title icon" /> Get Body in Shape, Stay healthy</h1>
      </div>
      <p>Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.</p>
    </div>
    <div>
      <img
        src="./img/hero-mini-1x.jpg"
        srcset="
          ./img/hero-mini-1x.jpg 1x,
          ./img/hero-mini-2x.jpg 2x,
          ./img/hero-mini-3x.jpg 3x
        "
        alt="Two women doing yoga"
      />
      <div>
        <span>#Sport</span>
        <span>#Healthy</span>
        <span>#Workout</span>
        <span>#Diet</span>
      </div>
    </div>
  </div>
  <div>
    <picture>
      <source 
        srcset="./img/hero-main-mobile-1x.jpg 1x, ./img/hero-main-mobile-2x.jpg 2x" 
        media="(max-width: 768px)"
      >
      <img
        src="./img/hero-main-1x.jpg"
        srcset="./img/hero-main-1x.jpg 1x, ./img/hero-main-2x.jpg 2x"
        alt="Two women high-fiving each other while doing yoga"
        loading="eager"
        fetchpriority="high"
      />
    </picture>
    <div>
      <span>#Sport</span>
      <span>#Healthy</span>
      <span>#Workout</span>
      <span>#Diet</span>
    </div>
  </div>
</section>
