<div id="exercise-overlay">
  <div>
    <a class="close-icon">
      <img src="./img/close-overlay.svg" alt="Close icon" />
    </a>
    <img class="exercise-image" src="./img/hero-main-1x.jpg" alt="Exercise demonstration"/>
    <div class="main-column">
      <h2 class="title">Air bake</h2>
      <div class="rating">
        <p>3.7</p>
        <img src="./img/star.svg" alt="Star icon" class="star-icon" />
      </div>
      <hr>
      <div class="params">
        <div>
          <p>Target</p>
          <p>Abs</p>
        </div>
        <div>
          <p>Body part</p>
          <p>Waist</p>
        </div>
        <div>
          <p>Equipment</p>
          <p>Body weight</p>
        </div>
        <div>
          <p>Popular</p>
          <p>150</p>
        </div>
        <div>
          <p>Burned calories</p>
          <p>323/3 min</p>
        </div>
      </div>
      <hr>
      <p class="description">This refers to your core muscles, which include the rectus abdominis, obliques, and transverse abdominis. They're essential for maintaining posture, stability, and generating force in many movements. Exercises that target the abs include crunches, leg raises, and planks.</p>
      <div class="buttons">
        <a class="add">
          <span>Add to favorites</span>
          <img src="./img/heart.svg" alt="Empty heart icon" class="add" />
          <img src="./img/heart-full.svg" alt="Full heart icon" class="remove" />
        </a>
        <a class="rate">
          <span>Give a rating</span>
        </a>
      </div> 
    </div>
  </div>
</div>
<div id="rate-overlay">
  <form aria-label="Send a review form">
    <a class="close-icon">
      <img src="./img/close-overlay.svg" alt="Close icon" />
    </a>
    <div class="row">
      <label for="rating">Rating:</label>
      <input type="text" name="rating" id="rating" placeholder="4.5" required>
    </div>
    <input type="email" name="Email" id="email2" aria-label="Email field" placeholder="Email" required>
    <textarea name="Comment" id="comment" rows="6" placeholder="Your comment" aria-label="Comment field" required></textarea>
    <input type="submit" value="Send" id="submit2" aria-label="Send button">
  </form>
</div>