.footer {
  padding: 64px 32px 16px 32px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.footer-block-2 {
  display: flex;
  row-gap: 32px;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-block-2 .splitter {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}
.footer-block-2 * {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
}
.footer-block-2 a:hover {
  text-decoration: underline;
}
.footer-block-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 96px;
  align-items: start;
}
.footer-block-11 {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.footer-main-logo img{
  width: 132px;
  height: 24px;
}
.footer-socials {
  display: flex;
  gap: 12px;
}
.footer-socials img {
  min-width: 44px;
}
.footer-block-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 64px;
}
.footer-tagline {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  color: var(--light);
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 352px;
}
footer form p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--light);
}
footer form input#email {
  border-radius: 999px;
  padding: 12px 14px;
  background-color: #00000000;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light);
  border: solid 1px var(--light);
}
footer form input#email::placeholder {
  color: var(--gray);
}
footer form input#submit {
  border-radius: 999px;
  padding: 12px 14px;
  background-color: var(--light);
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);
  border: 0px;
}
footer form input#submit:hover {
  background-color: color-mix(in srgb, var(--light) 85%, transparent);
}
@media only screen and (max-width: 1200px) {
  .footer-block-12 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-block-1 {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    align-items: start;
  }
  .footer-block-12 {
    gap: 20px;
  }
}
@media only screen and (max-width: 400px) {
  footer form {
    min-width: 200px;
  }
}