.header {
  padding: 24px 32px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 50px;
  background-color: var(--dark);
  border-radius: 999px;
}
.nav-item {
  padding: 6px 12px;
  border-radius: 999px;
}
.nav-item.active {
  background-color: var(--light);
}
.nav-link {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light);
  cursor: pointer;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-item.active .nav-link {
  color: var(--dark);
}
.nav-socials {
  display: flex;
  gap: 12px;
}
.nav-menu-toggle {
  border-radius: 6px;
  padding: 6px;
  display: none;
  cursor: pointer;
}
.close-mobile-menu {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .nav-menu-toggle {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .nav-socials {
    display: none;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark);
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  z-index: 1000;
}
.mobile-upper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.mobile-middle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.mobile-middle li a {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light);
  cursor: pointer;
}
.mobile-middle li a:hover {
  text-decoration: underline;
}
.mobile-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}